{
  "env": {
    "development": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": "6.10"
          }
        }],
        "@babel/react"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", {
          "regenerator": true
        }],
        "@babel/plugin-transform-flow-strip-types",

        "@babel/plugin-proposal-export-default-from",

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        "@babel/plugin-proposal-json-strings"
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": "6.10"
          }
        }],
        "@babel/react"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", {
          "regenerator": true
        }],
        "@babel/plugin-transform-flow-strip-types",

        "@babel/plugin-proposal-export-default-from",

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        "@babel/plugin-proposal-json-strings"
      ]
    },
    "browser": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "browsers": "last 3 versions, > 1%"
          },
          "loose": true
        }],
        "@babel/react"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", {
          "regenerator": true
        }],
        "@babel/plugin-transform-proto-to-assign",
        "@babel/plugin-transform-flow-strip-types",

        "@babel/plugin-proposal-export-default-from",

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        "@babel/plugin-proposal-json-strings"
      ]
    },
    "module": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": "6.10"
          },
          "modules": false
        }],
        "@babel/react"
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", {
          "regenerator": true
        }],
        "@babel/plugin-transform-flow-strip-types",

        "@babel/plugin-proposal-export-default-from",

        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        "@babel/plugin-proposal-json-strings"
      ]
    }
  },
  "sourceMaps": true
}